NEXT_PUBLIC_SITE_URL=https://lyviapinheirotricologista.com.br
NEXT_PUBLIC_TINTIM_URL=https://tintim.link/whatsapp/f13db03f-041d-4070-9d07-e73cbf7246b4/1b1c62f7-58f7-4cbe-8005-77040907fedf
NEXT_PUBLIC_META_PIXEL_ID=553740172574489
NEXT_PUBLIC_GTM_ID=GTM-K84G82RH
# Opcional: manter vazio se o Google Analytics já estiver configurado no GTM.
NEXT_PUBLIC_GA_ID=
